{
    "root": true,
    "parser": "@typescript-eslint/parser",

    "plugins": [
      "@typescript-eslint",
      "jest",
      "simple-import-sort",
      "import",
      "unused-imports",
      "es"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:prettier/recommended"
    ],
    "rules" : {
      "es/no-default-parameters": "error",
      "camelcase": "error",
      "eqeqeq": "error",
      "no-array-constructor": "error",
      "no-else-return": [
        "error",
        {
          "allowElseIf": false
        }
      ],
      "no-extend-native": "error",
      "no-lonely-if": "error",
      "no-param-reassign": "error",
      "no-return-assign": "error",
      "no-throw-literal": "error",
      "no-var": "error",
      "object-shorthand": "error",
      "prefer-const": "error",
      "prefer-rest-params": "error",
      "prefer-spread": "error",
      "prefer-template": "error",
      "radix": "error",
      "yoda": "error",
      "no-console": "warn",
      "prettier/prettier": [
        "error",
        {
          "semi": true,
          "trailingComma": "all",
          "singleQuote": true,
          "printWidth": 100,
          "tabWidth": 2,
          "endOfLine": "auto"
        }
      ],
      "import/first": "error",
      "import/newline-after-import": "error",
      "import/no-duplicates": "error",
      "simple-import-sort/exports": "error",
      "simple-import-sort/imports": "error",
      "unused-imports/no-unused-imports": "error",
      "no-await-in-loop": "error",
      "no-constant-binary-expression": "error",
      "no-constructor-return": "error",
      "no-promise-executor-return": "error",
      "no-self-compare": "error",
      "no-template-curly-in-string": "error",
      "no-unmodified-loop-condition": "error",
      "no-unreachable-loop": "error",
      "no-unused-private-class-members": "error",
      "complexity": [
        "error",
        5
      ],
      "max-depth": [
        "error",
        2
      ]
    },
    "env": {
      "jest/globals": true,
      "node": true
    },
     "overrides": [
    {
      "files": ["*.interface.ts"],
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
  }